<% var data = {
  title: "GrandCore | Страница",
  author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="main">
  <div class="main-content">
    <section class="main-content-header img">
       <div class="main-content-header-row">
           <h1 class="main-content-header-row__h1">
              Софт
           </h1>
       </div>
        <div class="main-content-header-col">
          <div class="main-content-header-col-1">
            <h3 class="main-content-header-col-1__h3">
               Найдите единомышленников и работайте над любыми открытыми проектами вместе
            </h3>
         </div>
        </div>
    </section>
    <section class="main-content-wrapper">
      <div class="main-content-wrapper-filters">
        <h3 class="main-content-wrapper-filters__h3">
          Отфильтровать результаты
        </h3>
      </div>
        <div class="main-content-wrapper-conteiner">
          <div class="main-content-wrapper-conteiner-top">
            <div class="main-content-wrapper-conteiner-top-search">
              <div class="main-content-wrapper-conteiner-top-search-btn">
                <div class="main-content-wrapper-conteiner-top-search-btn-icon"></div>
                <div class="main-content-wrapper-conteiner-top-search-btn-text">Поиск</div>
              </div>
            </div>
            <div class="main-content-wrapper-conteiner-top-makefilter">
                <div class="main-content-wrapper-conteiner-top-makefilter-icon"></div>
                <div class="main-content-wrapper-conteiner-top-makefilter-text">Самые популярные</div>
            </div>
          </div>
          <div class="main-content-wrapper-conteiner-row">
            <div class="main-content-wrapper-conteiner-row-col">
              <div class="main-content-wrapper-conteiner-row-col-imgconteiner">
                <img class="main-content-wrapper-conteiner-row-col-imgconteiner-img" src="../../img/list-card-1.png">
              </div>
              <div class="main-content-wrapper-conteiner-row-col-text">
                <h4 class="main-content-wrapper-conteiner-row-col__h4">
                  Мы хотим вывести идеи Open Source на качественно 
                </h4>
                <p>
                  Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу...
                </p>
              </div>
            </div>
            <div class="main-content-wrapper-conteiner-row-col">
              <div class="main-content-wrapper-conteiner-row-col-imgconteiner">
                <img class="main-content-wrapper-conteiner-row-col-imgconteiner-img"src="../../img/list-card-2.png">
              </div>
              <div class="main-content-wrapper-conteiner-row-col-text">
                <h4 class="main-content-wrapper-conteiner-row-col__h4">
                  Мы хотим вывести идеи Open Source на качественно 
                </h4>
                <p>
                  Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу...
                </p>
              </div>
            </div>
            <div class="main-content-wrapper-conteiner-row-col">
              <div class="main-content-wrapper-conteiner-row-col-imgconteiner">
                <img class="main-content-wrapper-conteiner-row-col-imgconteiner-img" src="../../img/list-card-3.png">
              </div>
              <div class="main-content-wrapper-conteiner-row-col-text">
                <h4 class="main-content-wrapper-conteiner-row-col__h4">
                  Мы хотим вывести идеи Open Source на качественно 
                </h4>
                <p>
                  Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу...
                </p>
            </div>
            </div>
          </div>
          <div class="main-content-wrapper-conteiner-row">
            <div class="main-content-wrapper-conteiner-row-col">
              <div class="main-content-wrapper-conteiner-row-col-imgconteiner">
                <img class="main-content-wrapper-conteiner-row-col-imgconteiner-img" src="../../img/list-card-1.png">
              </div>
              <div class="main-content-wrapper-conteiner-row-col-text">
                <h4 class="main-content-wrapper-conteiner-row-col__h4">
                  Мы хотим вывести идеи Open Source на качественно 
                </h4>
                <p>
                  Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу...
                </p>
              </div>
            </div>
            <div class="main-content-wrapper-conteiner-row-col">
              <div class="main-content-wrapper-conteiner-row-col-imgconteiner">
                <img class="main-content-wrapper-conteiner-row-col-imgconteiner-img"src="../../img/list-card-2.png">
              </div>
              <div class="main-content-wrapper-conteiner-row-col-text">
                <h4 class="main-content-wrapper-conteiner-row-col__h4">
                  Мы хотим вывести идеи Open Source на качественно 
                </h4>
                <p>
                  Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу...
                </p>
              </div>
            </div>
            <div class="main-content-wrapper-conteiner-row-col">
              <div class="main-content-wrapper-conteiner-row-col-imgconteiner">
                <img class="main-content-wrapper-conteiner-row-col-imgconteiner-img" src="../../img/list-card-3.png">
              </div>
              <div class="main-content-wrapper-conteiner-row-col-text">
                <h4 class="main-content-wrapper-conteiner-row-col__h4">
                  Мы хотим вывести идеи Open Source на качественно 
                </h4>
                <p>
                  Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу...
                </p>
            </div>
            </div>
          </div>
          <div class="main-content-wrapper-conteiner-row">
            <div class="main-content-wrapper-conteiner-row-col">
              <div class="main-content-wrapper-conteiner-row-col-imgconteiner">
                <img class="main-content-wrapper-conteiner-row-col-imgconteiner-img" src="../../img/list-card-1.png">
              </div>
              <div class="main-content-wrapper-conteiner-row-col-text">
                <h4 class="main-content-wrapper-conteiner-row-col__h4">
                  Мы хотим вывести идеи Open Source на качественно 
                </h4>
                <p>
                  Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу...
                </p>
              </div>
            </div>
            <div class="main-content-wrapper-conteiner-row-col">
              <div class="main-content-wrapper-conteiner-row-col-imgconteiner">
                <img class="main-content-wrapper-conteiner-row-col-imgconteiner-img"src="../../img/list-card-2.png">
              </div>
              <div class="main-content-wrapper-conteiner-row-col-text">
                <h4 class="main-content-wrapper-conteiner-row-col__h4">
                  Мы хотим вывести идеи Open Source на качественно 
                </h4>
                <p>
                  Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу...
                </p>
              </div>
            </div>
            <div class="main-content-wrapper-conteiner-row-col">
              <div class="main-content-wrapper-conteiner-row-col-imgconteiner">
                <img class="main-content-wrapper-conteiner-row-col-imgconteiner-img" src="../../img/list-card-3.png">
              </div>
              <div class="main-content-wrapper-conteiner-row-col-text">
                <h4 class="main-content-wrapper-conteiner-row-col__h4">
                  Мы хотим вывести идеи Open Source на качественно 
                </h4>
                <p>
                  Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу...
                </p>
            </div>
            </div>
          </div>
        </div>
    </section>
</div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
